body {
  box-sizing: border-box;
}

.ig {
  color: white;
  font-size: 25px;
  margin: 3px;
}

.color {
  background-color: #444444;
  min-height: 500px;
}

.creative {
  color: white;
  font-size: 18px;
}

.pro_h1 {
  color: white;
  text-align: center;
}

.BTS {
  color: white;
  text-align: center;
  width: 55%;
  height: auto;
}

.First {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grey {
  background-color: #171010;
  min-height: 8vh;
}

.ig21 {
  margin-top: 15px;
  color: #f29191;
  font-size: 40px;
  padding-bottom: 10px;
}

.ig22 {
  margin-top: 15px;
  color: #51c4d3;
  font-size: 40px;
  padding-bottom: 10px;
}

.ig23 {
  margin-top: 15px;
  color: #9fe6a0;
  font-size: 40px;
  padding-bottom: 10px;
}

.img_first {
  margin-top: 10px;
  border: 1px solid #C9CCD5;;
  border-radius: 10px;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

.second {
  margin-bottom: 40px;
}

.robot {
  margin-top: 20px;
  text-align: center;
}

.text_welcome{
  margin-top: 20px;
  text-align: center;
}

.rid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: -50px;
}

.try {
  margin-top: 13%!important;
  /* margin-bottom: 15%!important; */
}

.try1{
  margin-left: 60px;
}

.fa-star{
  font-size: 40px;
}


.hell_div{
  background-color: #C9CCD5;
  margin-bottom: 30px;
}

.image2{
  border-radius: 10px;
  text-align: center;
}

.cont{
  margin-top: 50px;
  display: flex;
}

.fa-rocket{
  font-size: 40px;
  color: #E60965;
  position: relative;
  top: 12px;
  left: 10px;
}

.circ{
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-color: #FE83C6;
}

.diff{
    display: flex;
    flex-direction: column;
    justify-content:  center;
}

.diff_ico{
    display: flex;
}
.small_div{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F29191;
}
.small_ico{
    position: relative;
    top: 2px;
    left: 8px; 
    color: #991b1b;
}

.image3{
  border-radius: 10px;
}

.heores{
  text-align: center;
  justify-content: center;
  margin-top: 150px;
}

.image_person{
  border-radius: 50%;
}

.lin{
  font-size: 30px;
  color: #09009B;
}

.goo{
  font-size: 30px;
  color: #DA1212;
}

.face{
  font-size: 30px;
  color: #2666CF;
}

.git{
  font-size: 30px;
  color: #F94892;
}

.twi{
  font-size: 30px;
  color: #548CFF;
}

.photos{
  margin-bottom: 300px;
}

.color_black{
  background-color: black;
}

.last{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.black_heading{
  margin-top: 150px;
}

.build{
  color: white;
  text-align: center;
}

.para{
  color: #D1D1D1;
  text-align: center;
  width: 50%;
}

.black_design{
  color: white;
  font-size: 50px;

}

.design{
  margin-top: 100px;
}

.design_block{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.design_text{
  color: white;
  text-align: center;
}

.design_para{
  color: white;
  text-align: center;
  width: 55%;
}

.form_application{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.application{
  margin-top: 10%;
  background-color:#EFEFEF;
  width: 45%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10%;
  padding: 30px;
}

.send_message{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#last_grey{
  background-color: #EFEFEF;;
}

.touch{
  margin-top: 50px;
}

.content_last1{
  margin-top: 50px;
}
